html {
    background: radial-gradient(circle, white, rgb(132, 214, 247));
    min-height: 100%;
}

img.back-logo {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

img.font-logo {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.page-title {
    font-family: 'Rubik Puddles', cursive;
    color: black;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 100;
    color: rgb(255, 255, 255);
    font-family: 'Grape Nuts', cursive;

}

.overlay-text-small {
    font-size: 0.5em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay 0.5s ease-in-out 0.5s forwards;
}

@keyframes overlay {
    from {
        background-color: rgba(0, 0, 0, 0.589);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.589);
        font-size: 10em;
    }
}


.game-info {
    font-family: 'Grape Nuts', cursive;
    font-size: 2em;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
    align-items: center;
    border-color: black;
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.game-info-container {
    display: flex;
    justify-content: space-evenly;
    grid-column: 1 / -1;
}


.card-back {
    background: radial-gradient(circle, #f2faf5, #9dfa68);
    border-radius: 10px;
    border-style: solid;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card-front:hover .symbol{
    transform: scale(1.2);    
}

.card-front:hover .flower{
    font-size: 35px;    
}

.card-front {
    transform: rotateY(180deg);
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(253, 251, 129), rgb(255, 150, 89));
    border-radius: 10px;
    border-style: solid;
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}

.card.visible .card-front{
    transform: rotateY(0deg);
}

.card-back:hover .sun{
    transform: scale(1.2);
}

.card-back:hover .tree{
    font-size: 35px;
}

.font-logo {
    display: flex;
    height: 60%;
    position: absolute;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.back-logo {
    display: flex;
    position: absolute;
    height: 60%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.tree {
    position: absolute;
    font-size: 30px;
}

.front-corner-logo {
    position: absolute;
    font-size: 30px;
}


.top-right {
    position: absolute;
    height: 20%;
    transform: rotate(-135deg);
    top: 0px;
    right: 0px;
}

.top-left {
    position: absolute;
    height: 20%;
    transform: rotate(135deg);
    top: 0px;
    left: 0px;
}

.bottom-right {
    position: absolute;
    height: 20%;
    transform: rotate(-45deg);
    bottom: 0px;
    right: 0px;
}

.bottom-left {
    position: absolute;
    height: 20%;
    transform: rotate(45deg);
    bottom: 0px;
    left: 0px;
}

.card .font-logo{
    animation: dance 0.4s linear 0.5s infinite;
}

@keyframes dance {
    0%, 100%{
        transform: rotate(0);
    }
    25% {
        transform: rotate(15deg);
    }
    75%{
        transform: rotate(-15deg);
    }
}

@media (max-width: 600px) { 
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
}