#scaffoldmakerURL {
    border: 5px solid red;
}

#bannerText {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

table {
    font-size: 25px;
}

.checked {
    color: orange;
  }

#banner2ndColumn {
    background-image: url("siriwave9.gif"); 
    background-repeat: no-repeat;
}

#skills {
    background-color: #8ebbff2a;
}

#education {
    background-color: #8ebbff2a;
}

#pairgame {
    background-color: #8ebbff2a;
}

#banner_button {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

#banner {
    position: relative;
    width: 100%;
    margin-top: -50px
  }
  
